{% extends 'base.html'%}
{% block title %}
  {{ title }}
{% endblock %}
{% block content %}
<h1>{{ text }}</h1><hr>
{% for post in posts %}
<ul>
  <li>
    Автор: {{ post.author.get_full_name }}
  </li>
  <li>
    Дата публикации: {{ post.pub_date|date:"d E Y" }}
  </li>
  <li>
    Группа: {{ post.group }}
  </li>
</ul>
<p>{{ post.text }}</p>
{% if post.group %}
<a href= "{% url 'posts:group_posts' post.group.slug %}">
  Все записи группы
</a>
{% endif %}
{% if not forloop.last %}<hr>{% endif %}
{% endfor %}
{% endblock %}